# backend
APP_ENV=development
BACKEND_PORT=8000
BACKEND_URL=https://localhost:4443/graphql
JWT_SECRET_KEY=local-dev-secret-key
CORS_ORIGINS=https://localhost:4443,https://localhost:3000

# database configuration
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=orbitto_user
POSTGRES_PASSWORD=orbitto_password
POSTGRES_DB=orbitto_db

# redis
REDIS_HOST=redis
REDIS_PORT=6379

# frontend
FRONTEND_ENV=development
FRONTEND_PORT=4443
FRONTEND_URL=https://localhost:4443
